<header class="container header active" id="home">
  <div class="header-content">
      <div class="left-header">
          <div class="h-shape"></div>
          <div class="image">
              <img src="../../../assets/img/hero.png" alt="">
          </div>
      </div>
      <div class="right-header">
          <h1 class="name">
              Hi, I'm <span>Mizanur Rahman.</span>
              A Full Stack Developer.
          </h1>
          <p>
              I'm a programmer,designer and devloper, in other words a creative technologist.
          </p>
          <div class="btn-con">
<!--             ../../../assets/img/ResumeMizan.pdf -->
              <a href="https://mizan8102.github.io/cv_design/" target="_blank" class="main-btn">
                  <span class="btn-text">Download CV</span>
                  <span class="btn-icon"><i class="fas fa-download"></i></span>
              </a>
          </div>
      </div>
  </div>
</header>
